data/*
# !data/test1.txt
!data/randomdata_1000 20230213_training_dataset.xlsx
!data/randomdata10k_test_dataset.xlsx
!data/non_answer_dataset_for_zhipang.xlsx
!data/2_result.xlsx

!data/result.xlsx


saved_res/*/*
!saved_res/2023-03-20_13:26:12_train 1 test 1/2023-03-20_13:26:12_train 1 test 1.out
!saved_res/2023-03-20_13:30:41_train 2 test 2/2023-03-20_13:30:41_train 2 test 2.out
!saved_res/2023-03-20_13:33:05_train 1 test 2/2023-03-20_13:33:05_train 1 test 2.out
!saved_res/2023-03-20_13:38:56_train 2 test 1/2023-03-20_13:38:56_train 2 test 1.out
!saved_res/2023-03-20_13:43:06_train mix12 test mix12/2023-03-20_13:43:06_train mix12 test mix12.out

saved_model/*
# saved_res.txt


test*
*.sh
nohup.out
run.ipynb
tmp/*

__pycache__
.vscode