data/*
# !data/test1.txt
!data/randomdata_1000 20230213_training_dataset.xlsx
!data/randomdata10k_test_dataset.xlsx
!data/non_answer_dataset_for_zhipang.xlsx
!data/2_result.xlsx

!data/result.xlsx


saved_res/*/*
!saved_res/2023-03-20_13_30_41_train_2_test_2/2023-03-20_13:30:41_train_2_test_2.out
!saved_res/2023-03-20_13_33_05_train_1_test_2/2023-03-20_13:33:05_train_1_test_2.out
!saved_res/2023-03-20_13_26_12_train_1_test_1/2023-03-20_13:26:12_train_1_test_1.out
!saved_res/2023-03-20_13_38_56_train_2_test_1/2023-03-20_13:38:56_train_2_test_1.out
!saved_res/2023-03-20_13_43_06_train_mix12_test_mix12/2023-03-20_13:43:06_train_mix12_test_mix12.out

saved_model/*
# saved_res.txt


test*
*.sh
*.zip
nohup.out
run.ipynb
tmp/*

__pycache__
.vscode